@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #f5f5f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
